# .gitignore

# Virtual environments
venv/

# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Python files
__pycache__/

# Quarto folders
/.quarto/
/_freeze/
/_site/
/_book/
/site_libs

_environment.local
/_*.local

# MacOS files
._*
.DS_Store

# Folders
exams/*
tp/solution/*

**/*.quarto_ipynb
